# --- System & Python Junk ---
__pycache__/
.ipynb_checkpoints/
*.pyc

# --- Data Exclusion ---

# 1. Recursively ignore EVERYTHING inside data/raw (files & folders)
data/raw/**/*

# 2. EXCEPTION: Allow Git to track .gitkeep files anywhere inside data/raw
!data/raw/**/.gitkeep

# Ignore specific processed/backup folders
data/processed/archive
scripts/dev_backups