# --- System & Python Junk ---
__pycache__/
.ipynb_checkpoints/
*.pyc

# --- Data Exclusion ---
# Ignore everything inside data/processed recursively
data/processed/**/*
# Do NOT ignore directories
!data/processed/**/
# Exception: Track .gitkeep files
!data/processed/**/.gitkeep
# Ignore temp folder
data/temp/**/*
!data/temp/**/
# 1. Ignore everything inside data/raw recursively
data/raw/**/*

# 2. CRITICAL FIX: Do NOT ignore directories (this lets Git look inside)
!data/raw/**/

# 3. Exception: Track .gitkeep files
!data/raw/**/.gitkeep

# Ignore others
data/processed/archive
scripts/dev_backups
scripts/aux_scripts/table_to_markdown.ipynb
